*
{
    margin:0;
    padding:0;
    box-sizing:boder-box;
    font-family:sans-serif;
}
:root
{
    --black:#333;
    --green:#017143;
    --white:#fff;
    --white2:#fff;
    --black2:#333;
}
.dark
{
    --black:#fff;
    --white:#113828;
    --black2:#124e36; /* 18:34 minutes break time*/
}
section{
    position: relative;
    width: 100%;
    min-height:100vh;
    padding:100px;
    display: flex;
    justify-content: Space-around; 
    align-items: center;
    background: var(--white); 
}
header
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding: 10px 100px;
    display:flex;
    justify-content:Space-between;
    align-items:center;
    z-index: 10000;
}
header .logo
{
    position: relative;
    max-width: 70px;
}
header ul
{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
header ul li
{
    list-style:none;
    display:flex;
    margin-left:30px;
}
header ul li a
{
    display:inline-block;
    color:var(--black);
    font-weight:500;
    text-decoration:none;
}
.content
{
    position:relative;
    width:100%;
    display:flex;
    justify-content:Space-between;
    align-items:center;
    z-index:2;
}
.content .textBox
{
    position:relative;
    max-width:600px;
    z-index:1;
    margin-right:20px;
}
.content .textBox h2
{
    font-size: 3em;
    color:var(--black);
    line-height:1.4em;
    font-weight:700;
    margin-bottom:10px;
}
.content .textBox h2 span
{
    font-size:1.2em;
    color: var(--green);
}
.content .textBox a
{
    display:inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: var(--green);
    color:var(--white2);
    border-radius: 40px;
    font-weight:500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox
{
    position:relative;
    width:500px;
    display: 500px;
    justify-content: center;
    align-items: center;
}
.content .imgBox::before
{   content:'';
    position:absolute;
    width: 350px;
    height:350px;
    background:var(--green);
    border-radius:50%;
}
.content .imgBox img
{
    position: relative;
    z-index: 1;
    max-width:350px;
}
.sci
{
    position:absolute;
    bottom:40px;
    left:100px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    display: inline-block;
    margin-right:15px;
    width: 50px;
    height: 50px;
    background: var(--black2);
    color:var(--white2);
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration: none;
}
.sci li a .fa
{
    font-size:1.2em;
}
.sci li a:hover
{
    background:var(--green);
}
.themeSwitch
{
    position:relative;
    width:40px;
    height:40px;
    background: var(--black);
    display:inline-flex;
    border-radius:50%;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
}
.themeSwitch::before
{
    content:'\f186';
    font-family:fontAwesome;
    color:var(--white);
    font-size:20px;
}
.themeSwitch active::before
{
    content:'\f185';
    
}
